<div class="container-fluid">
    <div class="col col-lg-auto">
        <div id="title">
            <center>
                <h1><b>The 12th Man</b></h1>
                <hr id="header-line">
            </center>
        </div>
    </div>
        <div id="map"></div>
        <hr id="header-line">    
    <div class="col col-lg-auto">
        <div id="status">
            <center>
            <h1><b>STATUS:</b></h1>
            <h1><b>STABLE</b></h1>
            </center>
        </div>   
    </div>
</div>