<div class="container">
    <div id="title">
        <center>
            <h1><b>The 12th Man</b></h1>
            <hr id="header-line">
        </center>
    </div>
    <div id="map"></div>      
    <hr id="header-line">
    <div id="status">
        <center>
        <h1><b>STATUS:</b></h1>
        <h1><b>STABLE</b></h1>
        </center>
    </div>   
</div>